{% extends 'binningtax/index.html' %}
{% load static %}

{% block page_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="163 D'Arcy Parkway, Lathrop, CA 95330. Binning Immigration and Tax consultants: Contact Us, whether its
    getting your biggest Tax Refund or any Immigration related matter.">

    <meta name="keywords" content="Income tax return, Tax adviser, Tax consultant, Federal tax return,
    State tax return, California tax return, Tax preparation services, Cheap tax service,
    USCIS status, USCIS forms, Immigration case status, US Immigration help, Immigration services, Citizenship application,
    Green card.">

    <meta name="Binning Immigration and Tax Consultants" content="http://binningconsultants.com/">
{% endblock page_meta %}





{% block page_title %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'binningtax/images/favicon_package_v0.16/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'binningtax/images/favicon_package_v0.16/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'binningtax/images/favicon_package_v0.16/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'binningtax/images/favicon_package_v0.16/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'binningtax/images/favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Contact Binning Consultants | Tax Consultants | Immigration Consultants | Best in California | Binning Immigration and Tax Consultants - Contact Us Page</title>
{% endblock page_title %}

{% block page-logo %}
    <img style="width:inherit;" src="{% static 'binningtax/images/logo/binning-logo-original.svg' %}" alt="">
{% endblock page-logo %}

{% block header-image %}

    <div class="">
        <img class="img-fluid" src="{% static 'binningtax/images/abstract-attractive.jpg' %}" alt="">
    </div>

{% endblock header-image %}



{% block content %}
    <div class="container-fluid contact-us-body-background">
        {% if message %}
        <div class="row jumbotron bg-transparent">
            <div class="col text-center message-success">
                <p class="display-3">Sent Successfully !!!</p>
                <p class="display-4">We will get back to you at our earliest.</p>
            </div>
        </div>
        {% endif %}
        <div class="row jumbotron bg-transparent">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="text-center">Questions or Concerns?</h1>
            </div>
            <div class="col-lg-2"></div>
        </div>


        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="card-deck">
                        <div class="contact-us-left-card container card zoom">
                      <!--<img class="card-img-top" src="{% static 'binningtax/images/dance-ind.jpg' %}" alt="Card image">-->
                      <div class="card-body">
                          <br>
                        <h4 class="card-title text-center zoom">Contact Us</h4>
                          <br>
                        <p class="card-text">Thank you for your interest in us. If you have any question
                            regarding Tax returns or US Immigration please contact us using the information below or submit a request.
                            We look forward to hearing from you soon.
                        </p>
                          <br><br>
                        <div class="font-weight-bold">
                            <img src="{% static 'binningtax/icons/briefcase.svg' %}" alt="">
                            <span class="align-bottom">Hours of Operation:</span>
                        </div>
                        <div>
                            Monday - Friday: 9:00 AM to 5:00 PM
                        </div>
                          <br>
                        <div>
                            <span class="font-weight-bold"><img src="{% static 'binningtax/icons/phone.svg' %}" alt=""> Phone:</span> 209-482-7725
                        </div>
                        <div>
                            <span class="font-weight-bold">Office:</span> 209-570-5240
                        </div>
                        <div>
                            <br>
                            <span class="font-weight-bold">Email:</span> info@binningconsultants.com
                        </div>

                      </div>
                     </div>
                        <div class="contact-us-right-card container card zoom">
                      <!--<img class="card-img-top" src="{% static 'binningtax/images/ancient.jpg' %}" alt="Card image">-->
                      <div class="card-body">
                          <br>
                        <h4 class="card-title text-center zoom">Send a Query !</h4>
                          <br>
                        <form id="contactFrom" method="post" action="{% url 'contact-us' %}">
                            {% csrf_token %}
                            {{ form.errors }}
                            <!--{{ form }}-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2 font-weight-bold">
                                        <label>Name</label>
                                    </div>
                                    <div class="col">
                                        {{ form.fname }}
                                      <!--<input type="text" class="form-control" placeholder="First name" required="true">-->
                                    </div>
                                    <div class="col">
                                        {{ form.lname }}
                                      <!--<input type="text" class="form-control" placeholder="Last name" required="true">-->
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label class="font-weight-bold">Email address</label>
                                        {{ form.email }}
                                        <!--<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required="true">-->
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                  <label class="col-12 col-form-label font-weight-bold">Telephone</label>
                                  <div class="col-12">
                                      {{ form.phone }}
                                    <!--<input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="tel-input" required="true">-->
                                  </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label class="font-weight-bold">Subject</label>
                                        {{ form.subject }}
                                        <!--<input type="text" class="form-control" placeholder="" id="subject">-->
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label class="font-weight-bold">Questions/Comments</label>
                                        {{ form.body }}
                                        <!--<textarea class="form-control" id="textArea" rows="3" required="true"></textarea>-->
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="button btn btn-lg btn-block font-weight-bold contact-us-form-button-style">
                                            SUBMIT
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:2em;"></div>

    </div>
{% endblock %}
