{% extends 'binningtax/index.html' %}

{% block page_title %}
  Home page
{% endblock page_title %}

{% block content %}
{% load static %}
    <div class="">
        <div class="row" style="height:4em;"></div>
       <div class="row row-eq-height" style="padding: 2em 0em 2em 0em;">
           <div class="col-md-1"></div>
           <div class="col-md-6">
               <img class="homepage-main-img" src="{% static 'binningtax/images/tax.png' %}" alt="money image">
           </div>
           <div class="col-md-1"></div>
           <div class="col-md-3 sidebar">
                <div class="row" style="height:2em;"></div>
               <div class="row">
                   <div class="col-md-12">
                      <ul>
                          <div class="">
                            <lh style="font-size: 1.5em; color: #CE3B3E;">Tax Services</lh>
                          </div>
                           <li>Tax Preparation and Consulting</li>
                           <li>Quarterly IFTA Fuel Tax Services</li>
                           <li>Enrolled to practice before the IRS</li>
                      </ul>
                   </div>
               </div>
               <div class="row" style="height:2em; background-color:#0C143E;"></div>
                <div class="row" style="height:2em;"></div>
               <div class="row">
                   <div class="col-md-12">
                       <ul>
                           <lh style="font-size: 1.5em; color: #CE3B3E;">Immigration Services</lh>
                           <li>Unlawful Presence Waivers</li>
                           <li>Employment Authorization Document</li>
                           <li>DACA</li>
                           <li>Citizenship</li>
                           <li>VAWA</li>
                       </ul>
                   </div>
               </div>
                <!--<div class="row" style="height:2em; background-color:#CE3B3E;"></div>-->

           </div>
           <div class="col-md-1"></div>

        </div>
        <div class="row" style="height:4em;"></div>
    </div>



{% endblock %}