{% extends 'binningtax/index.html' %}

{% block page_meta %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Binning Immigration and Tax Consultants, offers professional income tax preparation and immigration services.
    Get your maximum tax refund guaranteed @ BinningConsultants!
    We specialize in filing tax return for individuals and businesses.
    Our focus is on saving our clients as much money as possible.
    We are a registered and bonded Immigration Consultants in the state of California.
    We specialize in Family counseling and preparing Immigration forms.">

    <meta name="keywords" content="Income tax return, Tax adviser, Tax return, Tax preparation, Tax consultant, Federal tax return,
    State tax return, California tax return, Tax preparation services, Cheap tax service, File income tax return, File company tax return,
    USCIS status, USCIS forms, Immigration case status, Immigration help, Immigration services, Citizenship application">

    <meta name="Binning Immigration and Tax Consultants" content="http://binningconsultants.com/">
{% endblock page_meta %}


{% block page_title %}
  Binning Immigration and Tax Consultants - Home page
{% endblock page_title %}

{% load static %}
{% block header-image %}

    <div class="">
        <img class="img-fluid" src="{% static 'binningtax/images/wall.jpg' %}" alt="">
    </div>

{% endblock header-image %}

{% block content %}

    <div class="home_page_background">

       <div class="row" style="height:4em;"></div>
       <div class="row row-eq-height" style="padding: 2em 0em 2em 0em;">
           <div class="col-lg-1"></div>
           <div class="col-lg-6">
               <div id="homepage_carousal" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner shadow">
                    <div class="carousel-item active">
                      <img class="d-block homepage-main-img img-thumbnail" src="{% static 'binningtax/images/tax.png' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block homepage-main-img img-thumbnail" src="{% static 'binningtax/images/cloud-immigration.png' %}" alt="Second slide">
                    </div>
                  </div>
                </div>

           </div>
           <div class="col-lg-1"></div>
           <div class="col-lg-3 sidebar">
                <div class="row" style="height:2em;"></div>
               <div class="row">
                   <div class="col-lg-12 border-right border-bottom">
                      <div class="block-heading">Tax Services</div>
                       <ul>
                          <li>We specialize in filling tax return for individuals and businesses.</li>
                          <li>Our focus is on saving our clients as much money as possible.</li>
                      </ul>
                   </div>
               </div>
                <div class="row" style="height:4em;"></div>
               <div class="row">
                   <div class="col-lg-12 border-top border-left">
                       <div class="block-heading">Immigration Services</div>
                       <ul>
                           <li>We are a registered and bonded Immigration Consultants in the state of California.</li>
                           <li>We specialize in Family counseling and preparing Immigration forms.</li>
                       </ul>
                   </div>
               </div>
                <!--<div class="row" style="height:2em; background-color:#CE3B3E;"></div>-->

           </div>
           <div class="col-lg-1"></div>

        </div>
        <div class="row" style="height:4em;"></div>
    </div>

<script>
    $('.carousel').carousel()
</script>

{% endblock %}