{% extends 'binningtax/index.html' %}


{% block page_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Professional Immigration Counseling in Spanish, Hindi, Punjabi, Urdu, and English.
    Can help filling Immigration Forms.
    Registered and bonded Immigration Consultants in the state of California.
    We specialize in Family counseling and preparing Immigration forms.">

    <meta name="keywords" content="Punjabi immigration adviser, Punjabi immigration consultant, USCIS status, USCIS forms,
    Immigration case status, Immigration help, Immigration services, Immigration consultant, Immigration consultant california,
    Citizenship application">

    <meta name="Binning Immigration and Tax Consultants" content="http://binningconsultants.com/">
{% endblock page_meta %}



{% block page_title %}
  <title>Immigration Consultant | Over 20 years of Experience | Expert Advice | Binning Immigration and Tax Consultants - Immigration Information Page</title>
{% endblock page_title %}


{% load static %}
{% block header-image %}

    <div class="" >
        <div id="carousel-header" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{% static 'binningtax/images/abstract-art-blur.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'binningtax/images/architecture-backg.jpg' %}" alt="Second slide">
            </div>
          </div>
        </div>
        <!--<img class="img-fluid" style="width:inherit;" src="{% static 'binningtax/images/miami.jpg' %}" alt="">-->
    </div>

<script>
    $('.carousel').carousel({
      interval: 10000
    })
</script>

{% endblock header-image %}


{% block content %}

    <div class="">
        <!--<div class="row" style="height:4em;"></div>-->
        <div class="row jumbotron">
            <div class="col-lg-3"></div>
           <div class="col-lg-6">
               <div class="page_heading">
                   <h1>Immigration Services</h1>
               </div>
           </div>
            <div class="col-lg-3"></div>
        </div>
        <!--<div class="row" style="height:4em;"></div>-->
        <div class="row">
            <div class="col-lg-8">
                <div class="row light-gray-background rounded" style="padding: 2em;">

                    <!--First Column-->
                    <div class="col-lg-4">
                        <div class="card zoom" style="width:inherit;">
                            <div id="carousal-page" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner shadow">
                                <div class="carousel-item active">
                                  <img class="d-block card-img-top" src="{% static 'binningtax/images/homeless.jpg' %}" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block card-img-top" src="{% static 'binningtax/images/kid-sad.jpg' %}" alt="Second slide">
                                </div>
                              </div>
                            </div>
                          <!--<img class="card-img-top" src="{% static 'binningtax/images/homeless.jpg' %}" alt="Card image">-->
                          <div class="card-body">
                            <h4 class="card-title zoom">DACA</h4>
                            <p class="card-text">DACA (Deferred Action for Childhood Arrival) allows a person to legally work in the United States, travel internationally,
                                and to be protected from deportation.</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>
                        <br>
                        <!--<div class="row" style="height:4em;"></div>-->

                        <div class="card zoom" style="width:inherit;">
                          <img class="card-img-top" src="{% static 'binningtax/images/passport.jpg' %}" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title zoom">Naturalization</h4>
                            <p class="card-text">Become a United States citizen through naturalization
                                if you are a foreign national who is permanent resident.</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>
                        <!--<br>-->
                        <!--<div class="row" style="height:4em;"></div>-->

                    </div>





                    <!--Second Column-->
                    <div class="col-lg-4">
                        <!--<div class="row" style="height:4em;"></div>-->
                        <br>
                        <div class="card zoom" style="width:inherit;">
                          <img class="card-img-top" src="{% static 'binningtax/images/migration-flag.jpg' %}" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title zoom">Renew/Replace Green Card</h4>
                            <p class="card-text">File I-90, Application to Replace Permanent Resident Card</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>

                        <!--<div class="row" style="height:4em;"></div>-->
                        <br>
                        <div class="card zoom" style="width:inherit;">
                          <img class="card-img-top" src="{% static 'binningtax/images/shaking-hands.jpg' %}" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title zoom">Employment Authorization</h4>
                            <p class="card-text">Certain foreign nationals who are in the United States may file Form I-765,
                                Application for Employment Authorization.</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>
                        <br>
                        <!--<div class="row" style="height:3em;"></div>-->
                        <div class="card zoom" style="width:inherit;">
                          <img class="card-img-top" src="{% static 'binningtax/images/gavel.jpg' %}" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title zoom">Petition for Relative</h4>
                            <p class="card-text">Being a U.S. Citizen or Legal Permanent Resident,
                                petition for your family members.</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>
                        <br>
                    </div>





                    <!--Third Column-->
                    <div class="col-lg-4">
                        <div class="card zoom" style="width:inherit;">
                          <img class="card-img-top" src="{% static 'binningtax/images/cloud-immigration.png' %}" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title zoom">Affidavit of Support</h4>
                            <p class="card-text">Show adequate means of financial support and not
                                likely to rely on the U.S. government for financial support.</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>
                        <br>

                        <!--<div class="row" style="height:4em;"></div>-->

                        <div class="card zoom" style="width:inherit;">
                          <img class="card-img-top" src="{% static 'binningtax/images/statue.png' %}" alt="Card image">
                          <div class="card-body">
                            <h4 class="card-title zoom">Apply for Green Card</h4>
                            <p class="card-text">Apply for lawful permanent resident status if you are in the United States.</p>
                            <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                          </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center block-heading">Get Help With</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="text-center list-unstyled">
                            <li>
                                <b>N-400</b>, Apply for Citizenship
                            </li>
                            <li>
                                <b>I-485</b>, Apply for Green Card
                            </li>
                            <li>
                                <b>I-130</b>, Petition for Relative
                            </li>
                            <li>
                                <b>I-864</b>, Affidavit of Support
                            </li>
                            <li>
                                <b>I-90</b>,  Renewal/ Replace Green Card
                            </li>
                            <li>
                                <b>I-765</b>, Employment Authorization Card
                            </li>
                        </ul>
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                       <p class="container">
                            We have helped countless families and individuals with their US immigration related issues
                            and obtain legal US status as we are committed to putting forth our best at all times to guarantee
                            that we will provide the care and attention you deserve.
                        </p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center block-heading">We Speak</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="text-center list-unstyled">
                            <li>
                                English
                            </li>
                            <li>
                                Spanish
                            </li>
                            <li>
                                Hindi
                            </li>
                            <li>
                                Punjabi
                            </li>
                            <li>
                                Urdu
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" style="height:4em;"></div>
    </div>

<script>
    $('.carousel').carousel()
</script>
{% endblock %}