<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127163385-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127163385-1');
    </script>

    <meta charset="UTF-8">
    <meta name="google-site-verification" content="C8K4dn1f2TFZstHRd4wJ_UQQ5chN8lUDYu1ds3rWf0g" />
    {% block page_meta %}
    {% endblock page_meta %}

    {% block page_title %}

    {% endblock page_title %}

    {% load static %}

    <!--<link href="base.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="{% static 'binningtax/styles.css' %}" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'binningtax/bootstrap.css' %}" type="text/css">
    <script src="{% static 'binningtax/bootstrap.js' %}"></script>

</head>
<body>
<div class="font">
        <div class="header display-3 font-weight-bold">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2 d-flex align-items-center">
                    <img src="{% static 'binningtax/images/binning-logo-with-dot.svg' %}" alt="">
                </div>
                <div class="col">Binning Immigration and Tax Consultants</div>
                <div class="col-1"></div>
            </div>

        </div>
        {% block header-image %}
        {% endblock header-image %}

        <nav class="navbar navbar-expand-lg navbar-background sticky-top">
              <!--<a class="navbar-brand" href="#">Brand</a>-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-toggler-icon" style="color:white;">MENU</div>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav navbar-content">
                    <a class="nav-item navbar-links-color nav-link zoom {% if home %} active-page {% endif %}" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item navbar-links-color nav-link zoom {% if tax %} active-page {% endif %}" href="{% url 'tax-services' %}">Tax</a>
                    <a class="nav-item navbar-links-color nav-link zoom {% if immigration %} active-page {% endif %}" href="{% url 'immigration-help' %}">US Immigration</a>
                    <a class="nav-item navbar-links-color nav-link zoom {% if indian %} active-page {% endif %}" href="{% url 'indian-services' %}">Indian Services</a>
                    <a class="nav-item navbar-links-color nav-link {% if contact %} active-page {% endif %}" href="{% url 'contact-us' %}">Contact Us</a>
                </div>
              </div>
            <div class="badge badge-info right">Office <h5 class="h5">209-570-5240</h5></div>
        </nav>
        {% block content %}

        {% endblock %}

    <footer class="footer">
        <div class="">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    Office: 209-570-5240
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            163 D'Arcy Parkway
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Lathrop, CA 95330
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            info@binningconsultants.com
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    Sunny: 209-482-7725
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small style="color: #F99142;">© 2018 Binning Immigration and Tax Consultants - All Rights Reserved</small>
                </div>
            </div>
        </div>

    </footer>
    </div>

</body>
</html>