<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock page_title %}</title>

    {% load static %}

    <link href="base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'binningtax/styles.css' %}" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'binningtax/bootstrap.css' %}" type="text/css">
    <script src="{% static 'binningtax/bootstrap.js' %}"></script>

</head>
<body>
<div class="container-fluid">
        <div class="header">
          <div>Binning Immigration and Tax Consultants</div>

        </div>

        <nav class="navbar navbar-expand-lg navbar-background">
              <a class="navbar-brand" href="#">Brand</a>
              <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
                <!--<span class="navbar-toggler-icon"></span>-->
              <!--</button>-->
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav navbar-content">
                    <a class="nav-item navbar-links-color nav-link zoom active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item navbar-links-color nav-link zoom" href="{% url 'tax' %}">Tax Services</a>
                    <a class="nav-item navbar-links-color nav-link zoom" href="{% url 'immigration' %}">Immigration Services</a>
                    <a class="nav-item navbar-links-color nav-link disabled" href="#">About</a>
                    <a class="nav-item navbar-links-color nav-link disabled" href="#">Contact Us</a>

                </div>
              </div>
            <span class="badge badge-info">Office</span>
            <a class="right navbar-links-color nav-link" href="#"><b>(209) 570-5240</b></a>

        </nav>
        {% block content %}

        {% endblock %}

    <footer class="footer">
        <div class="">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            163 D'Arcy Parkway
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Lathrop, CA 95330
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Office: (209) 570-5240
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Sunny: (209) 482-7725
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            sunny@binningtax.com
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>

            </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <small style="color: #F99142;">© 2018 Binning Immigration and Tax Consultants - All Rights Reserved</small>
                </div>
                <div class="col-md-2">

                </div>
            </div>

        </div>

    </footer>
    </div>

</body>
</html>