@font-face{
	font-family: Poppins;
	src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face{
	font-family: PoppinsSemiBold;
	src: url('fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face{
	font-family: PoppinsItalic;
	src: url('fonts/poppins/Poppins-MediumItalic.ttf');
}

@font-face{
	font-family: PoppinsBold;
	src: url('fonts/poppins/Poppins-Bold.ttf');
}



.font{
    font-family: Poppins;
}

/*.header {
    padding: 0.25em;
    background-color: whitesmoke;
    color: #003366;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}*/
.header {
    background-color: whitesmoke;
    color: #003366;
    text-align: center;
}

.footer {
    text-align: -webkit-center;
    background-color: #003366;
    color: whitesmoke;
}

.homepage-main-img{
    width:inherit;
}

.sidebar{
    font-weight: 700;

}
.center-text{
    text-align: center;
}

.navbar-background{
    background-color: #003366;
}
.navbar-content{
    font-size: 1.5em;
}

.navbar-links-color{
    color: whitesmoke;
}

.page_heading{
    text-align: center;
}

.text-center{
    text-align: center;
}

.block-heading{
    font-size: 1.5em;
    color: #CE3B3E;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.light-gray-background{
    background-color: #f7f7f7;
}

.card-tax-main {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.active-page{
    color:#F99142;
}




