.header {
    padding: 0.25em;
    background-color: whitesmoke;
    color: #0C143E;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.footer {
    text-align: -webkit-center;
    background-color: #0C143E;
    color: whitesmoke;
}

.homepage-main-img{
    width:inherit;
}

.sidebar{
    font-weight: 700;

}
.center-text{
    text-align: center;
}

.navbar-background{
    background-color: #0C143E;
}
.navbar-content{
    font-style: oblique;
    font-size: 1.5em;
}

.navbar-links-color{
    color: whitesmoke;
}

.page_heading{
    text-align: center;
}

.text-center{
    text-align: center;
}