{% extends 'binningtax/index.html' %}

{% block page_title %}
  Home page
{% endblock page_title %}

{% block content %}
{% load static %}
    <div class="">
       <div class="row">
           <div class="col-md-4"></div>
           <div class="col-md-4">
               <div class="page_heading">
                   <h1>Tax Services</h1>
               </div>
           </div>
           <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="row" style="padding: 2em 0em 2em 0em;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <p>
                                            <strong>
                                                Income Tax (Specializing in trucking businesses)
                                            </strong>
                                        </p>
                                        <li>
                                            Individual
                                        </li>
                                        <li>
                                            Small Business
                                        </li>
                                        <li>
                                            Corporations and LLC's
                                        </li>
                                        <li>
                                            Free Electronic-filing
                                        </li>
                                        <li>
                                            IRS Audit Representation
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <p><strong>We do Quarterly IFTA Fuel Tax</strong><p>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <p><strong>We can help you obtain:</strong></p>
                                        <li>
                                            DMV IRP Plates for trucks
                                        </li>
                                        <li>
                                            MC Permit
                                        </li>
                                        <li>
                                            USDOT Permit
                                        </li>
                                        <li>
                                            Permits for all other states
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="padding: 0em 0em 2em 0em;">
                        <div class="col-md-5">
                        <img src="{% static 'binningtax/images/coins-pens.jpg' %}" alt="money image" style="width:inherit;">
                        </div>
                        <div class="col-md-5">
                            <img src="{% static 'binningtax/images/stock.jpg' %}" alt="money image" style="width:inherit;">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{% static 'binningtax/images/money-grow.jpg' %}" alt="money image" style="width:inherit;">
                        </div>
                        <div class="col-md-5">
                            <img src="{% static 'binningtax/images/money-save-piggy.jpg' %}" alt="money image" style="width:inherit;">
                        </div>
                        <div class="col-md-2"></div>

                    </div>

                </div>
            </div>
            <div class="row" style="padding: 2em 0em 2em 0em;">

                <div class="col-md-6">
                    <img src="{% static 'binningtax/images/tax.png' %}" alt="money image" style="width:inherit;">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <p>
                                            <strong>
                                                Why Us?
                                            </strong>
                                        </p>
                                        <li>
                                            Over 10 years of experience
                                        </li>
                                        <li>
                                            Prompt Services
                                        </li>
                                        <li>
                                            Exceptional Customer Service
                                        </li>
                                        <li>
                                            Masters in Taxation
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <p><strong>We do Quarterly IFTA Fuel Tax</strong><p>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}